/* Body and Content */
a {
  color: #ca1a1a;
}

a:hover {
  color: #ff7045;
  text-decoration: none;
}

thead {
  background-color: #ca1a1a !important; 
}

.header_icons li i:hover {
	color: #ff7045;
}

#main_title_text {
  color: #ca1a1a; 
}  

#main_title_text:hover {
  color: #ff7045; 
}

.footer_icons li i:hover {
	color: #ff7045;
}

.post_share li i:hover {
	color: #ff7045;
}

.carousel_item_hover i:hover {
	color: #ff7045;
}

.team_image_hover i:hover {
  color: #ff7045 !important;
}

.button {
	background: #ca1a1a !important;
}

.button:hover{
	background: #ff7045 !important;
}

/* Widgets */
.ad_block a:hover, .tabs a.active {
  background: #ff7045;
}

.view-popular-tags a:hover {
  background-color: #ff7045; 
}

/*Highlight*/
#heading_wrapper {
  background: #ca1a1a; 
}

#highlight {
  background: #ca1a1a; 
}

.carousel_navigation i:hover {
	color: #ca1a1a;
}

ul.accordion > li.active {
  border-top: 3px solid #ca1a1a;
}

.recent_post_info {
	background-color: #ca1a1a;
}